// VARIABLES
$color-container: #f3f0ff;
$color-sub-container: #e5dbff;

$color-text-primary: #2e2c33;
$color-text-primary-hover: #f2edff;

$color-btn: #a099b3;
$color-btn-hover: #b7afcc;

// UNIVERSAL STYLES
* {
}
