.App {
  background-color: #f3f0ff;
  padding: 10rem;
}

.shahid {
  background-color: #e5dbff;
  padding: 5rem;

  .btn {
    padding: 1rem;
    background-color: $color-btn;
    color: #2e2c33;

    &:hover {
      background-color: $color-btn-hover;
      color: $color-text-primary-hover;
    }
  }
}
