.projects {
  // background-color: blue;

  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  color: white;
  padding: 1.5rem 7rem;
  justify-content: center;

  &__cards {
    background-color: $color-navlinks;
    margin-top: 3rem;
    display: flex;
    width: 20%;
    flex-direction: column;
    border-radius: 0.7rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    img {
      width: 100%;
    }
    &-intro {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 1.5rem;
      }
    }

    a {
      color: white;
      padding: 0.3rem 2rem;
      transition: all 0.5s ease-in-out;
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 1.5rem;
    }

    h2 {
      color: white;
      padding: 0.8rem 2rem;
    }

    &-skillUsed {
      display: flex;
      gap: 0.6rem;
      flex-wrap: wrap;
      padding: 0.8rem 2rem;

      p {
        color: white;

        padding: 0.5rem 1rem;
        background-color: $color-bg-primary;
      }
    }

    &:hover {
      transform: scale(1.03);
    }
  }
}
