.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to left,
    $color-sub-container-2,
    $color-sub-container
  );
  font-size: 1.5rem;
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    &-logo {
      // border: 6px solid red;
      display: flex;

      img {
        width: 10rem;
        background-color: $color-btn-primary-hover;
      }
    }

    &-list {
      &-nav {
        &-ul {
          display: flex;
          gap: 1.5rem;

          li {
            list-style: none;
            color: $color-text-primary;
            padding: 0.5rem;
            display: flex;

            a {
              text-decoration: none;

              &:active,
              &:hover {
                color: inherit;
                box-shadow: inset 0rem -0.1rem rgba($color-text-primary, 0.5);
              }
            }
          }
        }
      }
    }

    &-icons {
      margin-right: 2rem;

      display: flex;
      justify-content: start;
      align-items: center;
      cursor: pointer;

      ion-icon {
        font-size: 2.5rem;
        transition: all 0.8s ease-in-out;
      }
    }
  }
}
