.hero {
  // border: 1px solid red;
  margin: 10rem;

  &__introduction {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    z-index: 1;

    &--name {
      font-size: 2rem;
      animation: moveInLeft 1s ease-out;

      // flex-grow: 1;

      p {
        color: $color-text-p;
        font-weight: 400;
        display: flex;
        gap: 0.7rem;
        align-items: center;
        font-size: 1.5rem;

        // animation: handAnimation 2s infinite;

        // color: ;
        span {
          display: inline-block;
          animation: handAnimation 2s infinite ease-in-out;
          margin-bottom: 0.2rem;
        }
      }

      &-btn {
        font-weight: 400;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: $color-btn-primary;
        text-decoration: none;
        color: $color-text-primary;
        width: fit-content;
        width: -moz-fit-content;
        border-radius: 0.5rem;
        font-size: 1.5rem;

        &:active,
        &:hover {
          background-color: $color-btn-primary-hover;
        }
      }
      &-socials {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 1.5rem;
        // padding: 1rem 0.4rem;

        a {
          display: block;
          padding: 0.5rem;

          &:active,
          &:hover {
            transform: scale(1.1);
          }
        }
        .linkedin {
          transition: all 0.3s ease-in-out;
          &:active,
          &:hover {
            color: #1d4ed8;
          }
        }

        .github {
          transition: all 0.3s ease-in-out;
          &:active,
          &:hover {
            color: #030712;
          }
        }
        .twitter {
          transition: all 0.3s ease-in-out;
          &:active,
          &:hover {
            color: #1d4ed8;
          }
        }
        .instagram {
          transition: all 0.3s ease-in-out;
          &:active,
          &:hover {
            color: #ef4444;
          }
        }
        .facebook {
          transition: all 0.3s ease-in-out;
          &:active,
          &:hover {
            color: #1d4ed8;
          }
        }
      }
      &-contact {
        display: flex;
        gap: 0.5rem;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        &-email {
          display: flex;
          gap: 1rem;
          align-items: center;
          ion-icon {
            font-size: 1.2rem;
          }
        }

        a {
          text-decoration: none;
          color: inherit;
          font-weight: 300;
          font-size: 1rem;
          text-decoration: underline;
        }
      }
    }

    &--image {
      animation: showUp 1s ease-out;
      img {
        // margin-top: 10rem;
        border-radius: 25rem;
        border-right: 0.5rem solid $color-text-primary;
      }
    }
  }
}

.hero_bg-dots {
  position: absolute;
  top: 40%;
  left: 53%;
  z-index: -1;
}
